<h2><b> Questions & Answers </b></h2>

Reading the csv files.

In [21]:
playersData <- read.csv(file="player.csv", header=TRUE)
teamsData <- read.csv(file="team.csv", header=TRUE)

In [22]:
playersData

      X     player_api_id player_name            noOfTeams totalMatchPlayed
1      1    505942        Aaron Appindangoye     1           8
2      2    155782        Aaron Cresswell        1          75
3      3    162549        Aaron Doran            1         104
4      4     30572        Aaron Galindo          1          10
5      5     23780        Aaron Hughes           1         162
6      6     27316        Aaron Hunt             3         158
7      7    564793        Aaron Kuhl             1           5
8      8     30895        Aaron Lennon           2         181
9      9    528212        Aaron Lennox           1           1
10    10    101042        Aaron Meijers          3         167
11    11     23889        Aaron Mokoena          2          30
12    12    231592        Aaron Mooy             1          10
13    13    163222        Aaron Muirhead         1          21
14    14     40719        Aaron Niguez           2          27
15    15     75489        Aaron Ramsey           1         133
16    16    597948        Aaron Splaine          1           2
17    17    161644        Aaron Taylor-Sinclair  1          36
18    18     23499        Aaron Wilbraham        2           3
19    19    120919        Aatif Chahechouhe      1           1
20    20     46447        Abasse Ba              1          16
21    21    167027        Abdelaziz Barrada      2          75
22    22    245653        Abdelfettah Boukhriss  1           1
23    23    128456        Abdelhamid El Kaoutari 3         144
24    24     42664        Abdelkader Ghezzal     5          90
25    25    425950        Abdellah Zoubir        1           3
26    26     38423        Abdelmajid Oulmers     1          32
27    27      3264        Abdelmalek Cherrad     1           1
28    28    467485        Abdelmalek El Hasnaoui 1           5
29    29    306735        Abdelouahed Chakhsi    1          74
30    30     41659        Abderrazak Jadid       2          29
...   ...   ...           ...                    ...       ...
11031 11031 244155        Zezinho                1           2
11032 11032  19696        Zhi Zheng              1           9
11033 11033 290868        Zhi-Gin Lam            1          15
11034 11034 169594        Zie Diabate            3          15
11035 11035 244953        Ziggy Gordon           1          64
11036 11036 200607        Ziguy Badibanga        3          22
11037 11037 642618        Zinedine Machach       1          10
11038 11038 277772        Zinho Gano             2          30
11039 11039 246332        Ziri Hammar            1           4
11040 11040 532766        Zizo                   1          28
11041 11041  27305        Zlatan Bajramovic      1           7
11042 11042  35724        Zlatan Ibrahimovic     4         235
11043 11043  12574        Zlatan Ljubijankic     1          65
11044 11044  39494        Zlatko Dedic           1          15
11045 11045  17233        Zlatko Janjic          1           1
11046 11046  42860        Zlatko Junuzovic       1         127
11047 11047  37128        Zola Matumona          1          43
11048 11048  24737        Zoltan Gera            2          71
11049 11049 107281        Zoltan Stieber         3          35
11050 11050  39801        Zoltan Szelesi         1          11
11051 11051 491794        Zoran Josipovic        1           1
11052 11052  56929        Zoran Rendulic         1           6
11053 11053  99031        Zoran Tosic            1           9
11054 11054 192132        Zouhaier Dhaouadhi     1           1
11055 11055 282473        Zouhair Feddal         3          47
11056 11056  26357        Zoumana Camara         1         102
11057 11057 111182        Zsolt Laczko           1           7
11058 11058  36491        Zsolt Low              2          15
11059 11059  35506        Zurab Khizanishvili    1           3
11060 11060  39902        Zvjezdan Misimovic     1          64
      noOfLeagues rating sum_gk
1     1           67      43
2     1           74     121
3     1           71     125
4     1           75     111
5     1           78     129
6     1           79     132
7     1           61      64
8     1           84     146
9     1           48     237
10    1           69      54
11    1           75     154
12    1           75      54
13    1           63      38
14    2           71     129
15    1           83     150
16    1           55      55
17    1           65      49
18    1           67     163
19    1           77      50
20    1           68     111
21    2           76      47
22    1           64      51
23    2           73     118
24    2           73     122
25    1           59      62
26    1           70     129
27    1           62      98
28    1           63      52
29    1           56      46
30    2           71     133
...   ...         ...    ...
11031 1           69      51
11032 1           73     154
11033 1           68      58
11034 2           65      59
11035 1           64      51
11036 2           64      50
11037 1           67      52
11038 1           67      53
11039 1           65      60
11040 1           63      43
11041 1           78     158
11042 3           90     156
11043 1           72     146
11044 1           71     105
11045 1           66      90
11046 1           79     128
11047 1           68      95
11048 1           77     147
11049 1           73     128
11050 1           70     135
11051 1           60      46
11052 1           66      57
11053 1           80     136
11054 1           64      54
11055 2           75      57
11056 1           77     125
11057 1           68      35
11058 1           68     128
11059 1           78     140
11060 1           83     153

In [23]:
teamsData

    X   team_api_id team_long_name          team_short_name sum_build
1    1    9987      KRC Genk                GEN             148
2    2    9993      Beerschot AC            BAC             110
3    3   10000      SV Zulte-Waregem        ZUL             147
4    4    9994      Sporting Lokeren        LOK             159
5    5    9984      KSV Cercle Brugge       CEB             145
6    6    8635      RSC Anderlecht          AND             149
7    7    9991      KAA Gent                GEN             142
8    8    9998      RAEC Mons               MON             160
9    9    7947      FCV Dender EH           DEN              NA
10  10    9985      Standard de Lige       STL             161
11  11    8203      KV Mechelen             MEC             134
12  12    8342      Club Brugge KV          CLB             139
13  13    9999      KSV Roeselare           ROS             125
14  14    8571      KV Kortrijk             KOR             129
15  15    4049      Tubize                  TUB              NA
16  16    9996      Royal Excel Mouscron    MOU             150
17  17   10001      KVC Westerlo            WES             148
18  18    9986      Sporting Charleroi      CHA             160
19  19    9997      Sint-Truidense VV       STT             107
20  20    9989      Lierse SK               LIE             171
21  21    6351      KAS Eupen               EUP             105
22  22    1773      Oud-Heverlee Leuven     O-H             153
23  23    8475      Waasland-Beveren        WAA             132
24  24    8573      KV Oostende             OOS             155
25  25  274581      Royal Excel Mouscron    MOP             150
26  26   10260      Manchester United       MUN             134
27  27   10261      Newcastle United        NEW             152
28  28    9825      Arsenal                 ARS             140
29  29    8659      West Bromwich Albion    WBA             145
30  30    8472      Sunderland              SUN             154
... ... ...         ...                     ...             ...
270 270  9906       Atltico Madrid         AMA             157
271 271  9864       Mlaga CF               MAL             129
272 272  9868       Xerez Club Deportivo    XER             104
273 273  8394       Real Zaragoza           ZAR             154
274 274  9867       CD Tenerife             TEN             163
275 275 10278       Hrcules Club de Ftbol HER             154
276 276  8581       Levante UD              LEV             171
277 277  8560       Real Sociedad           SOC             162
278 278  7878       Granada CF              GRA             166
279 279  8370       Rayo Vallecano          RAY             141
280 280  9910       RC Celta de Vigo        CEL             169
281 281 10268       Elche CF                ELC             171
282 282  8372       SD Eibar                EIB             165
283 283  7869       Crdoba CF              COR             146
284 284  8306       UD Las Palmas           LAS             147
285 285  9956       Grasshopper Club Zrich GRA             164
286 286  6493       AC Bellinzona           BEL             101
287 287 10192       BSC Young Boys          YB              172
288 288  9931       FC Basel                BAS             170
289 289  9930       FC Aarau                AAR             156
290 290 10179       FC Sion                 SIO             155
291 291 10199       FC Luzern               LUZ             165
292 292  9824       FC Vaduz                VAD             141
293 293  7955       Neuchtel Xamax         XAM             105
294 294 10243       FC Zrich               ZUR             157
295 295 10190       FC St. Gallen           GAL             146
296 296 10191       FC Thun                 THU             152
297 297  9777       Servette FC             SER              99
298 298  7730       FC Lausanne-Sports      LAU             141
299 299  7896       Lugano                  LUG              NA
    sum_chance sum_defence noOfPlayers totalGoals
1   182        205          75         348
2   185        210          72         174
3   153        200          87         306
4   154        200          70         279
5   200        195          64         213
6   182        190          76         427
7   184        166          88         390
8   168        138          46         129
9    NA         NA          13          44
10  182        205         114         341
11  150        190          70         285
12  170        200          90         421
13  125        205          26          62
14  159        185          81         267
15   NA         NA          16          35
16  150        140          13          42
17  167        210          79         217
18  148        210          91         201
19  154        150          72         115
20  169        159          93         113
21  160        155          25          28
22  157        137          55         126
23  140        114          76         105
24  140        133          37         102
25  150        140          46          71
26  200        163          69         582
27  195        161          78         324
28  150        170          67         573
29  195        210          80         305
30  195        165         102         333
... ...        ...         ...         ...
270 206        160          84         524
271 191        164         106         377
272 159        165          20          38
273 166        158          70         159
274 180        174          19          40
275 178        160          23          36
276 182        155          83         241
277 171        171          49         316
278 200        170          85         179
279 161        178          81         247
280 179        169          48         184
281 165        158          38          65
282 179        142          41          83
283 171        129          31          22
284 187        171          25          45
285 184        160         104         429
286 175        150          36         128
287 202        170          81         529
288 186        180          86         619
289 181        150          58         153
290 177        146         104         371
291 175        153          72         421
292 137        133          53         100
293 190        150          50         171
294 165        163          72         468
295 157        155          76         276
296 166        145          68         279
297 175        170          34          77
298 164        165          53          99
299  NA         NA          26          46

<h3>Q1: Which are the top 10 players by overall rating? </h3>

In [2]:
rating_sort=(playersData[order(-playersData$rating),]) #sort dataframe according to rating in descending order
top10rating_ans=rating_sort[1:10,c('player_api_id','player_name','rating')] #select top 10 rows
top10rating_ans

      player_api_id player_name       rating
6170  30981         Lionel Messi      94
1993  30893         Cristiano Ronaldo 93
3823  30717         Gianluigi Buffon  93
10734 30829         Wayne Rooney      93
3991  39989         Gregory Coupet    92
10846 39854         Xavi Hernandez    92
388   30723         Alessandro Nesta  91
740   30955         Andres Iniesta    91
3180  34520         Fabio Cannavaro   91
4363  30657         Iker Casillas     91

<h3>Q2: Which are the top 10 goalkeepers by sum of gk attributes? </h3>

In [3]:
sumgk_sort=(playersData[order(-playersData$sum_gk),]) #sort dataframe according to gk attributes in descending order
top10sum_gk=sumgk_sort[1:10,c('player_api_id','player_name','sum_gk')] #select top 10 rows
top10sum_gk

     player_api_id player_name       sum_gk
3823  30717        Gianluigi Buffon  449
3991  39989        Gregory Coupet    447
8567  30859        Petr Cech         445
4363  30657        Iker Casillas     442
6547  27299        Manuel Neuer      440
5530  30989        Julio Cesar       438
9566  24503        Sebastian Frey    437
2897  30726        Edwin van der Sar 436
2338 182917        David De Gea      429
8528  30660        Pepe Reina        428

<h3>Q3: Which are the top 10 players by number of appearances(with any team they played with)? </h3>

In [26]:
totalMatchPlayed_sort=(playersData[order(-playersData$totalMatchPlayed),]) #sort dataframe according to gk attributes in descending order
totalMatchPlayed_sort=totalMatchPlayed_sort[1:10,c('player_api_id','player_name','totalMatchPlayed')] #select top 10 rows
totalMatchPlayed_sort

      player_api_id player_name          totalMatchPlayed
9994  31293         Steve Mandanda       300
9955  41097         Stephane Ruffier     294
3949  33764         Gorka Iraizoz Moreno 286
9414  42422         Samir Handanovic     286
4269  26295         Hugo Lloris          282
10286 31465         Tim Howard           282
5030  31432         Joe Hart             275
1611  26168         Cedric Carrasso      268
2113  26399         Daniel Congre        262
7721  94550         Moussa Sissoko       260

<h3>Q4: Which are the top 10 players by number of leagues they played in?</h3>

In [27]:
noofLeagues_sort=(playersData[order(-playersData$noOfLeagues),]) #sort dataframe according to gk attributes in descending order
top10noOfLeagues_ans=noofLeagues_sort[1:10,c('player_api_id','player_name','noOfLeagues')] #select top 10 rows
top10noOfLeagues_ans

     player_api_id player_name           noOfLeagues
3718  42119        Gelson Fernandes      6
3357 178538        Filip Djuricic        5
8972 116750        Ricky van Wolfswinkel 5
352  156534        Aleksandar Tonev      4
508  129918        Alfred Finnbogason    4
542   25816        Almen Abdi            4
575   93484        Aly Cissokho          4
795   46509        Angel Di Maria        4
1303  96643        Bojan Krkic           4
1466  38229        Bryan Ruiz            4

<h3>Q5: Which are the top 10 teams by sum of build up play attributes?</h3>

In [28]:
buildSum_sort=(teamsData[order(-teamsData$sum_build),]) #sort dataframe according to gk attributes in descending order
top10buildSum_ans=buildSum_sort[1:10,c('team_api_id','team_long_name','team_short_name','sum_build')] #select top 10 rows
top10buildSum_ans

    team_api_id team_long_name             team_short_name sum_build
141   9804      Torino                     TOR             209
143   8600      Udinese                    UDI             205
119   8194      Fortuna Dsseldorf         FDU             198
201   8033      Podbeskidzie Bielsko-Biala POD             193
198   8245      Korona Kielce              KKI             192
156 208931      Carpi                      CAP             190
190   8244      Widzew Ldz                LOD             190
200   8024      Widzew Ldz                WID             190
61    9830      FC Nantes                  NAN             189
128   8543      Lazio                      LAZ             188

<h3>Q6: Which are the top 10 teams by sum of chance creationattributes?</h3>

In [29]:
chanceSum_sort=(teamsData[order(-teamsData$sum_chance),]) #sort dataframe according to gk attributes in descending order
top10chanceSum_ans=chanceSum_sort[1:10,c('team_api_id','team_long_name','team_short_name','sum_chance')] #select top 10 rows
top10chanceSum_ans

    team_api_id team_long_name          team_short_name sum_chance
128  8543       Lazio                   LAZ             220
106  8697       SV Werder Bremen        WBR             216
138  9875       Napoli                  NAP             215
35   8456       Manchester City         MCI             210
39   8586       Tottenham Hotspur       TOT             210
46   8658       Birmingham City         BIR             210
47   8602       Wolverhampton Wanderers WOL             210
48   8191       Burnley                 BUR             210
50  10003       Swansea City            SWA             210
51  10172       Queens Park Rangers     QPR             210

<h3>Q7: Which are the top 10 teams by sum of defenseattributes?</h3>

In [30]:
defenceSum_sort=(teamsData[order(-teamsData$sum_defence),]) #sort dataframe according to gk attributes in descending order
top10defenceSum_ans=defenceSum_sort[1:10,c('team_api_id','team_long_name','team_short_name','sum_defence')] #select top 10 rows
top10defenceSum_ans

   team_api_id team_long_name          team_short_name sum_defence
2   9993       Beerschot AC            BAC             210
17 10001       KVC Westerlo            WES             210
18  9986       Sporting Charleroi      CHA             210
29  8659       West Bromwich Albion    WBA             210
42  8667       Hull City               HUL             210
46  8658       Birmingham City         BIR             210
47  8602       Wolverhampton Wanderers WOL             210
49  8483       Blackpool               BLA             210
50 10003       Swansea City            SWA             210
51 10172       Queens Park Rangers     QPR             210

<h3>Q9: Which are the top 10 teams by number of scored goals?</h3>

In [32]:
noOfgoals_sort=(teamsData[order(-teamsData$totalGoals),]) #sort dataframe according to gk attributes in descending order
top10noOfgoals_ans=noOfgoals_sort[1:10,c('team_api_id','team_long_name','team_short_name','totalGoals')] #select top 10 rows
top10noOfgoals_ans

    team_api_id team_long_name    team_short_name totalGoals
259  8634       FC Barcelona      BAR             849
257  8633       Real Madrid CF    REA             843
243  9925       Celtic            CEL             695
95   9823       FC Bayern Munich  BMU             653
166  8640       PSV               PSV             652
162  8593       Ajax              AJA             647
288  9931       FC Basel          BAS             619
35   8456       Manchester City   MCI             606
44   8455       Chelsea           CHE             583
26  10260       Manchester United MUN             582